* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#scrollIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    height: 780px;
    display: flex;
    align-items: center;
}

.box-class {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first,
.second,
.third,
.four {
    position: absolute;
}

.first {
    top: 67px;
    width: 300px;
    left: 30px;
    height: 200px;
    z-index: 999;
}

.second {
    top: 73px;
    left: 179px;
    width: 270px;
    height: 200px;
}

.third {
    top: 24px;
    left: 52px;
    width: 120px;
}

.four {
    top: 50px;
    left: 110px;
    width: 220px;
    height: 170px;
}

.extra {
    display: none;
    position: absolute;
    top: 65px;
    left: -26px;
    width: 410px;
    height: 155px;
}

.visible {
    display: block !important;
}

.titles {
    margin-top: 50px;
    width: 50%;
}

.first-title,
.second-title {
    opacity: 0;
    width: 75%;
}

p {
    margin-top: 24px;
    width: 75%;
}

.second-title {
    display: none;
}

h2 span {
    font-size: 36px;
}